#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.mainContainer {
  flex-grow: 1;

 
}

footer {
  justify-self: end;
  background:#d11514;
}

.menu {
  background-color: #d11514;
  
}

.logo {
width: 4rem;

}

footer p {
  font-size: medium;
}


h1{
  text-align: center;
  font-size:xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  padding: 1rem;


}

h2 {
  text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 2rem;
}